/* =======================================================
   🔹 Coluna Central — Calendário
   ======================================================= */
.calendar-center-column {

    align-items: center;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}